<ul>
    <li>
        <mat-icon>mail</mat-icon>
        <span>
            <a href="mailto: epipactispalustris@gmail.com">epipactispalustris@gmail.com</a>
            <br>
            <a href="mailto: lovas-kiss.adam@ecolres.hu">lovas-kiss.adam@ecolres.hu</a>
        </span>
    </li>
    <li>
        <mat-icon>web</mat-icon>
        <span>
            <a href="https://www.researchgate.net/profile/Adam-Lovas-Kiss" target="_blank">
                www.researchgate.net/profile/Adam_Lovas-Kiss
            </a>
            <br>
            <a href="https://ecolres.hu/en/munkatarsak/adam-lovas-kiss/" target="_blank">
                www.ecolres.hu/en/adam-lovas-kiss/
            </a>
        </span>
    </li>
    <li>
        <mat-icon>phone</mat-icon>
        <span><a href="tel:+36303589501">+36 30 358 95 01</a></span>
    </li>
    <li>
        <mat-icon>location_on</mat-icon>
        <span>
            <a href="https://maps.app.goo.gl/GQv3mLLRynB68nJG8">
                Wetland Ecology Research Group, Institute of Aquatic Ecology,<br>Centre for Ecological
                Research,
                H-4026,
                Debrecen, Bem sq. 18/C
            </a>
        </span>
    </li>
    <li>
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d7688.381917787662!2d21.612203995381183!3d47.54465875991837!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47470de5b0038883%3A0x6e0961ace2286292!2sDebrecen%2C%20Bem%20t%C3%A9r%2018%2C%204026!5e0!3m2!1shu!2shu!4v1701371087614!5m2!1shu!2shu" width="400" height="300" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </li>
</ul>